@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

section{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-size: cover;
  background-position: center;
  background: url(../images/background.png)no-repeat;
  background-attachment: fixed;
}

header{
  position: relative;
  top: 0;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo{
  position: relative;
  color: #000;
  font-size: 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
}

header .navigation a{
  color: #000;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 2px 15px;
  border-radius: 20px;
  transition: 0.3s;
  transition-property: background;
}

header .navigation a:not(:last-child){
  margin-right: 30px;
}

header .navigation a:hover{
background: #fff;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  background-color: white;
  padding: 20px 20px;
  border-radius: 10px;
}

input,
select,
textarea{
  padding: 1.5rem;
  background: white;
  border: 2px solid grey;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: inset 0 0 1.5px #000000;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container img{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: contain;
}

.navigation a.active {
  background-color: #fff;
}

.content{
  max-width: 700px;
  margin: 60px 100px;
}

.content .info h2{
  color: #fff;
  font-size: 55px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 60px;
  margin-bottom: 30px;
}

.content .info h2 span{
  color: #ffc629;
  font-size: 50px;
  font-weight: 600;
}

.content .info p{
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 40px;
}

.content .info-btn{
  color: #fff;
  background: #ffc629;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.3s;
  transition-property: background;
}

.content .submit-btn{
  color: #fff;
  background: #ffc629;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.3s;
  transition-property: background;
  box-shadow: none;
  border: none;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.content .info-btn:hover, .submit-btn:hover{
  background: #e9bb3f;
}

/* Form CSS */

.form-row{
  display: flex;
}

.media-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.media-icons a{
  position: relative;
  color: #111;
  font-size: 25px;
  transition: 0.3s;
  transition-property: transform;
}

.media-icons a:not(:last-child){
  margin-right: 60px;
}

.media-icons a:hover{
  transform: scale(1.5);
}

label{
  display: none;
}

.disabled ,.disabled:hover{
  color: black;
  display: block;
  cursor: auto;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 20px;
}

#check{
  z-index: 3;
  display: none;
}

#container{
}

#first{
  float: left;
}

#second{
  float: left;
}

#clear{
  clear: both;
}

#status{
  text-align: center;
  margin: auto;
  text-decoration: none;
  text-transform: uppercase;
  justify-content: center;
  display: flex;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 10px 20px;
  border-radius: 10px;
}

#status.success{
  background: #5dd959;
  animation: status 4s ease forwards;
}

#status.error{
  background: #d95959;
  animation: status 4s ease forwards;
}

@keyframes status {
  0%{
    opacity: 1;
    pointer-events: all;
  }
  90%{
    opacity: 1;
    pointer-events: all;
  }
  100%{
    opacity: 0;
    pointer-events: none;
  }
}

/* Responsive Styles */

@media (max-width: 960px){
  header .navigation{
    display: none;
  }

  label{
    display: block;
    font-size: 25px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: color;
  }

  label:hover{
    color: #fff;
  }

  label .close-btn{
    display: none;
  }

  #check:checked ~ header .navigation{
    z-index: 2;
    position: fixed;
    background: rgba(21, 136, 231, 0.9);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #check:checked ~ header .navigation a{
    font-weight: 700;
    margin-right: 0;
    margin-bottom: 50px;
    letter-spacing: 2px;
  }

  #check:checked ~ header label .menu-btn{
    display: none;
  }

  #check:checked ~ header label .close-btn{
    z-index: 2;
    display: block;
    position: fixed;
  }

  label .menu-btn{
    position: absolute;
  }

  header .logo{
    background: absolute;
    bottom: -6px;
  }

  .content .info h2{
    font-size: 45px;
    line-height: 50px;
  }

  @media (max-width: 560px){
    .content .info h2{
      font-size: 35px;
      line-height: 50px;
    }

  .content .info h2 span{
    font-size: 30px;
    font-weight: 600;
  }

  .content .info p{
    font-size: 14px;
  }
}
